<?xml version="1.0"?>
<!--
/**
 * Copyright © Fsm contributors
 * See COPYING.txt for license details.
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="Fsm_LogViewer::logviewer"
             title="Log Viewer"
             module="Fsm_LogViewer"
             sortOrder="90"
             parent="Magento_Backend::system_tools"
             resource="Fsm_LogViewer::view"
             action="fsm_log_viewer/log/index"/>
    </menu>
</config>
